<h1><%= @student.to_s%></h1>
<h1><%= link_to @student.to_s, student_path(@student)%></h1>

<% if @student.active %>
    <h1>This student is currently active.</h1>
    <% else %>
    <h1>“This student is currently inactive.</h1>
    <% end %>
